
logger_config_path: "logs.yaml"
registry_db_path: "devices.db"

api:
  host: "0.0.0.0"
  port: 8000
  db_path: "data/devices.db"

mqtt:
  host: "0.0.0.0"
  port: 1883
  username: "mqttuser"
  password: "mqttpass"

#lora:
#  port: "/dev/ttyUSB0"
#  baudrate: 9600

#espnow:
#  port: "/dev/ttyUSB0"
#  baudrate: 9600


#database:
#  host:
#  port:
#  user:
#  db:
#  password:
#  url:
