version: 1
disable_existing_loggers: false

# Formatadores de texto
formatters:
  colorized:
    format: "\u001b[32m%(asctime)s\u001b[0m | \u001b[31m%(levelname)s\u001b[0m | \u001b[34m%(filename)s:%(lineno)d\u001b[0m | %(message)s"
  simple:
    format: "%(levelname)s: %(message)s"
  detailed:
    format: "[%(levelname)s|%(module)s|L%(lineno)d] %(asctime)s: %(message)s"
    datefmt: "%Y-%m-%dT%H:%M:%S%z"

# Onde as mensagens serão exibidas/salvas
handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: colorized
    stream: ext://sys.stderr

# Configurações específicas por módulo
loggers:
  dispatcher.protocols:
    level: DEBUG
    handlers: [console]
    propagate: false

  dispatcher.core:
    level: INFO
    handlers: [console]
    propagate: false

  aiosqlite:
    level: WARNING
    handlers: [console]
    propagate: false

# Configuração global (fallback)
root:
  level: INFO
  handlers: [console]
